apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{.K8sName}}
  labels:
    app.kubernetes.io/name: {{.K8sName}}
    app.kubernetes.io/component: api
spec:
  ingressClassName: nginx
  rules:
    - host: {{.K8sName}}.example.com # TODO: your host
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{.K8sName}}
                port:
                  name: http
