{{- if .KeyVault -}}
# Azure Workload Identity: pods using this account get a token for the
# managed identity below, which DefaultAzureCredential uses to read Key Vault.
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{.K8sName}}
  labels:
    app.kubernetes.io/name: {{.K8sName}}
  annotations:
    # Client ID of a managed identity with "Key Vault Secrets User" on the vault.
    azure.workload.identity/client-id: 00000000-0000-0000-0000-000000000000 # TODO
{{- end}}
